@import '../../base.scss';

.watchScreen__player {
  background-color: #353946;
  width: 100%;
  height: 61vh;
  
}

.container-radio {
  border-radius: 15px;
  padding-bottom: 10px;
  background-color: $black-secondary;
}

@media (max-width: $breakpoint-medium) {
   .watchScreen__player {
     height: 30vh;
   }
 }